
    .circle
  {
    border-radius: 50%;
    width: 16rem;
    height: 16rem; 
    background-color: #eab308;
  }

.image-design{
    border-radius: 25%;
    width: 60rem;

}

.typed-out{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: 
    typing 10s steps(80, end) forwards;
}
.top-box {
  display: inline-block;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}