.image-design{
    border-radius: 25%;
    width: 60rem;

}

.content-items {
  position: absolute;
  top: 35%;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  z-index: 1; 


}
.banner{
  background-image: url("https://i.postimg.cc/jdbNGXFY/8221-FFD8-F787-43-F3-9800-D40-E2-EF13-D65-1-201-a.jpg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  
}

.typed-out{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: 
    typing 1s steps(20, end) forwards,
    blink 1s infinite;

}
.lol {
  display: inline-block;
  display: flex;
  align-items: center;
}
.back-color{
  background-color: #e8eaed;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  from { border-color: transparent }
  to { border-color: orange; }
  
}

.fancy_card {
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  transition: all .5s ease; /* back to normal */
}

.fancy_card:hover {
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease; /* zoom in */
  transform: translate3D(0,-1px,0) scale(1.03);
}